<div class="flex flex-col justify-center">
    <p class="text-center font-cinzel text-2xl lg:text-7xl font-semibold mt-4 text-white">choose your favourite preset!
    </p>

    <div class="flex justify-center">
        <div class="p-4 flex flex-col w-full lg:w-4/12">
            <button class="p-2 rounded-xl text-white mb-1 gradient-bg border-white border"
                    [ngClass]="{'bg-red-500' : preset.isSelected}"
                    *ngFor="let preset of presets"
                    (click)="selectPreset(preset)">{{ preset.name }}</button>

        </div>
    </div>

</div>

<div class="fixed bottom-0 left-0 flex justify-center w-full p-4">
    <button class="play p-4 bg-slate-500/40 border border-white rounded-full w-20 h-20 text-white font-cinzel"
            (click)="togglePreset()">{{isPlaying ? 'pause' : 'play'}}</button>
</div>
