<div>
    <div>
        <h1 class="font-cinzel text-2xl lg:text-7xl font-semibold text-white text-center mt-4">Create new
            presets!
        </h1>
    </div>
    <div class="p-2 text-white text-center">
        &nbsp; {{message}}
    </div>

    <div class="flex justify-center">
        <div class="flex flex-col justify-center m-4 lg:w-6/12">

            <input class="mb-2 p-2 rounded-xl text-center"
                   type="text"
                   placeholder="preset title"
                   #presetTitleInput
                   required
                   (input)="presetTitle = presetTitleInput.value">

            <div class="flex justify-center">
                <channel-setting class="w-6/12"
                                 channel="left"
                                 (oscillatorData)="recieveOscillatorData($event)"></channel-setting>

                <channel-setting class="w-6/12"
                                 channel="right"
                                 (oscillatorData)="recieveOscillatorData($event)"></channel-setting>
            </div>

            <!-- applied oscillators -->
            <div class="flex justify-center mt-2 mb-8">
                <!-- left channel oscillators -->
                <div class="flex flex-col mr-1 w-6/12">

                    <channel-oscillator *ngFor="let oscillator of leftChannelOscillators"
                                        [oscillator]="oscillator"
                                        (deleteOscillator)="deleteOscillator($event)"></channel-oscillator>
                </div>

                <!-- right channel oscillators -->
                <div class="flex flex-col ml-1 w-6/12">

                    <channel-oscillator *ngFor="let oscillator of rightChannelOscillators"
                                        [oscillator]="oscillator"
                                        (deleteOscillator)="deleteOscillator($event)"></channel-oscillator>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed bottom-0 left-0 flex justify-center w-full p-4">
        <button class="play p-4 bg-slate-500/40 border border-white rounded-full w-20 h-20 text-white font-cinzel"
                (click)="addPreset()">Add</button>
    </div>
