<div class="bg-slate-200 mr-1 ml-1 p-2 flex flex-col">
    <p>{{channel}} channel</p>


    <div class="mb-1 flex flex-col">

        <label for="frequency">frequency: {{frequency.value}}</label>


        <!-- need to have onInput binding to mark it for changeDetection -->
        <input class="mb-1 text-center"
               type="range"
               min="20"
               max="400"
               step="1"
               (input)="0"
               #frequency>

        <select name="waveType"
                #waveForm>
            <option *ngFor="let waveForm of waveFormOptions"
                    [value]="waveForm">{{waveForm}}</option>
        </select>
    </div>

    <button class="p-1 text-white bg-slate-500"
            title="add oscillator"
            (click)="sendOscillatorData(waveForm.value, +frequency.value)">+</button>
</div>
