<h1 class="text-2xl text-white w-full text-center font-cinzel pt-4">
    -binaural beats-
</h1>

<!-- main screen -->
<div class="p-4">

    <!-- volume box -->
    <div class="flex flex-col">
        <label for="volume"
               class="font-cinzel text-white text-center">Volume</label>
        <!-- add icon -->

        <input class="slider"
               [value]="getVolume()"
               (input)="changeVolume(volume.value)"
               type="range"
               name="volume"
               #volume
               step="0.01"
               min="0"
               max="1">

    </div>

    <!-- left channel slider -->
    <div class="flex flex-col mt-4">
        <label for="leftChannel"
               class="font-cinzel text-white text-center">Left Channel: {{leftChannel.value}} Hz</label>

        <input class="slider"
               [value]="getChannelValue('left')"
               (input)="changeFrequency('left', leftChannel.value)"
               type="range"
               name="leftChannel"
               #leftChannel
               step="1"
               min="20"
               max="400">
    </div>

    <!-- right channel slider -->
    <div class="flex flex-col mt-4">
        <label for="rightChannel"
               class="font-cinzel text-white text-center">Right Channel: {{rightChannel.value}} Hz</label>

        <input class="slider"
               [value]="getChannelValue('right')"
               (input)="changeFrequency('right', rightChannel.value)"
               type="range"
               name="rightChannel"
               #rightChannel
               step="1"
               min="20"
               max="400">
    </div>

</div>

<!-- buttons -->

<div class="fixed bottom-0 left-0 flex justify-center w-full p-4">
    <button class="play p-4 bg-slate-500 rounded-full w-20 h-20 text-white font-cinzel"
            (click)="synthToggle()">{{isPlaying ? 'pause' : 'play'}}</button>
</div>
